body{
  background-color: #6E6E6E;
}

h1{
  color: white;
}

h2{
  color: #BCFD4C ;
}

table, th, td {
  border: 2px solid;
  border-color: black;
}

table{
  width: 80%;
  border-collapse: collapse;
  color: white;
}

input[type=text]{
  width: 250px;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 4px;
}