<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
</head>
<body>
    <h1>Create a book</h1>
    <br>

    <form action="#" th:action="@{/bookcreate}" th:object="${bookForm}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <table border="1">
            <tr>
                <td><label>Titre</label></td>
                <td><input type="text" th:field="*{title}" /></td>
            </tr>
            <tr>
                <td><label>Auteur</label></td>
                <td><input type="text" th:field="*{author}" /></td>
            </tr>
            <tr>
                <td><label>Editeur</label></td>
                <td><input type="text" th:field="*{editor}" /></td>
            </tr>
            <tr>
                <td><label>Annee</label></td>
                <td><input type="number" th:field="*{publicationYear}" /></td>
            </tr>
            <tr>
                <td><label>Genre</label></td>
                <td><input type="text" th:field="*{genre}" /></td>
            </tr>
            <tr>
                <td><label>Nombre de page</label></td>
                <td><input type="text" th:field="*{nbPage}" /></td>
            </tr>

        </table>
        <input type="submit" value="Save" />
    </form>


    <a th:href="@{'/employee'}">Cancel</a>

</body>
</html>