<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Client Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Client Sign In</h1>
    <br>

    <form action="#" th:action="@{/clientconnectdebt}" th:object="${clientForm}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <table border="1">
            <tr>
                <td><label>Prenom</label></td>
                <td><input type="text" th:field="*{firstName}" /></td>
            </tr>
            <tr>
                <td><label>Nom de famille</label></td>
                <td><input type="text" th:field="*{lastName}" /></td>
            </tr>
            <tr>
                <td><label>Mot de passe</label></td>
                <td><input type="text" th:field="*{password}" /></td>
            </tr>
        </table>
        <input type="submit" value="Connect" />
    </form>


    <a th:href="@{'/client'}">Cancel</a>
</body>
</html>